/* CSS Document */

body {
	display: flex;
	justify-content: center;
	
	background-color: lightgrey;
}

#headerChoice {
	font-size: 30px;
	padding:0px;
	color: darkslateblue;
	
	letter-spacing: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

#outerContainer {
	justify-content: center;
	text-align: center;
}

#mainBox {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
	height: 700px;
	width: 900px;
	
	border: thick black solid;	
	border-radius: 12px;
	background-color: cornflowerblue;
}

#chooseBox {
	display: flex;
	
	justify-content: space-around;
	align-items: center;
	
	height: 100px;
	width: 900px;
	
	border:thick black solid;
	border-radius: 12px;
	background-color: darkcyan;
}

.circle {
	display: flex;
	
	width: 85px;
	height: 85px;
	
	border-radius: 42px;
	border: thin black solid;
	background-color: aliceblue;
}

.choiceCircle {
	display: flex;
	
	width: 85px;
	height: 85px;
	
	border-radius: 42px;
	border: thin black solid;
	background-color: aliceblue;
}

.choiceCircle:hover {
	border: 2px black solid;
	background-color: lightblue;
}

.column {
	display: flex;
	justify-content: space-around;
	
	height: 100%;
	
	flex-wrap: wrap;
	align-items: center;
}
