body {
    display: flex;
    justify-content: center;

    background-color: rgb(227, 193, 193);
}

#wrapperDiv {
    text-align: center;
}

#mainDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    border: thick black solid;
    border-radius: 12px;
    background-color: cadetblue;

    height: 750px;
    width: 850px;
}

#titleText {
    font-size: 40px;
    letter-spacing: 4px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.column {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.circle {
    box-sizing: border-box;

    height: 100px;
    width: 100px;

    border-radius: 50px;
    border: thin black solid;
    background-color: aliceblue;
}

.circle:hover {
    border: 3px darkblue solid;
    background-color: #e3c1c1;
}
